#display{
    padding: 10px;
    border: 1px solid rgb(189, 179, 179);
    border-radius: 5px;
    width: 200px;
}
#input-display{
    margin: 10px;
    width: 85%;
    font-size: 20px;
}

.button-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.btn-btn{
   
    width: 45px;
    height: 45px;
    margin: 3px;
}